myenv
*.sqlite3
db.sqlite3


# Django #

*.log

*.pot

*.pyc

*.DS_Store

__pycache__/

*.py[cod]

*$py.class
/grit_config.json

#crit_app_backend/settings/.env

media


clinic/settings.py

**/migrations/**

!**/migrations

!**/migrations/__init__.py



# Visual Studio Code #

.vscode/*

!.vscode/settings.json

!.vscode/tasks.json

!.vscode/launch.json

!.vscode/extensions.json

.history